@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  background-color: rgb(252, 221, 181);
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
}

.submit-button {
  padding: 5px;
  border: none;
  border-radius: 15px;
  background-color: #00ff00;
}

input[type="text"] {
  outline: none;
  padding: 5px;
  border: 2px solid black;
  border-radius: 15px;
}

header {
  margin: 1rem;
  text-align: center;
}

#form-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.books-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.books-container > h2 {
  text-align: center;
}

li {
  padding: 5px;
  border: none;
  border-radius: 15px;
  list-style: none;
}

#input {
  width: 40%;
  margin: auto;
}

.input-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem;
}

.input-field label {
  margin-left: 0;
  margin-right: auto;
}

#show-form {
  font-size: larger;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.5rem;
}

.delete-button {
  background-color: #ff3333;
}

.book-list {
}

.book {
  width: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
  box-shadow: 0 0.25rem 1rem gray;
  /* border: 1px solid black; */
  margin-top: 1rem;
  padding: 1rem;
}

.book-details {
  display: flex;
  flex-direction: column;
}

.title,
.author,
.pages,
.book-read {
  margin: 0.2rem 0;
}

.books-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.material-icons {
  background: none;
}

.delete-btn {
  padding: 0.15rem;
}

@media only screen and (max-width: 700px) {
  .books-container {
    padding: 1rem 0;
    width: 90%;
    margin: auto;
  }

  .input-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem;
  }

  .input-field input {
    margin-left: 0;
  }

  input[type="text"] {
    width: 100%;
  }

  .book {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .books-buttons button {
    margin: 0.2rem 0;
  }
}
