* {
  margin: 0px;
  background-color: rgb(252, 221, 181)
}

button{
  padding: 5px;
  border: none;
  border-radius: 15px;
}

.submit-button{
  padding: 5px;
  border: none;
  border-radius: 15px;
  background-color: #00ff00;
}

input{
  outline: none;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  border-color: black;
}

header {
  margin: 1rem;
  text-align: center;
}

#form-container {
  margin: 2rem;
  display: grid;
  place-items: center;
}

.books {
  text-align: center;
}

li { padding: 5px;
  border: none;
  border-radius: 15px;
  list-style: none;
}

#input {
  width: 30%;
  margin: 0 35% 0 35%;
}

.input-field{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5rem;
}

.input-field label{
  margin-left: 0;
  margin-right: auto;
}


#show-form{
  margin: 1rem;
}

.delete-button{
  background-color: #ff3333;
}

